# Security & API Keys
EMAIL_ADDRESS="your_email@gmail.com"
EMAIL_PASSWORD="your_app_password"
GEMINI_API_KEY="your_gemini_key"
GROQ_API_KEY="your_groq_key"

# Server Config
FLASK_APP=web/app.py
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY="replace_with_random_secret_string"

# Database
DATABASE_URL="sqlite:///mscheduler.db"
